form {
	margin: 0px auto;
	font-family: arial;
}

legend {
	border-radius: 3px;
	color: rgba(45,181,241,1);
	font-size: 1.1em;
	font-family: Adamina, Arial;
	margin-bottom:0.5em;
}

legend::after {
	content:' ';
	width: 200px;
	display: block;
	height: 2px;
	background-color: rgba(45,181,241,1);
}

fieldset {
	background-color: transparent;
	border-width: 0px;
}

label {
	color: black;
	color: rgba(45,181,241,1);
}

label::after {
	content: ':';
}


input {
	height: 2em;
	border-color: rgba(45,181,241,1);
	border-style: solid;
	border-radius: 3px;
	border-width: 2px;
	padding-left: 1.2em;
	width: 300px;
	display: block;
	margin: 0 0 1em 0;
}

label {
	display: block;
	width: 300px;
}

button {
	margin-top: 0.9em;
	float:right;
	width: 100px;
	border-color: 1px solid black;
	border-radius: 3px;
	background-color: rgba(45,181,241,1);
	color: white;
	padding: 2px 2px;
	font-size: 0.9em;
}
