html, body {
	height: 100%
}

main {
	height: 100%;
}

#add-order {
	float: left;
	width: 350px;
}

#orders {
	margin-left:350px;
	height: 100%;
	border-left: 2px solid rgba(45,181,241,1);
}

#item-list.controls {
	display: flex;
}

#menu {
	align-self: flex-start;
	display: inline-block;
}

#orders #menu li{
	border-radius: 3px;
	style:none;
	display: inline-block;
	width: 100px;
	text-align: center;
	color: rgba(45,181,241,1);
	border:2px solid rgba(45,181,241,1);
}

.label {
	display: inline-block;
	label: white;
	font-weight: bold;
	color: rgba(45, 181, 241, 1);
}

.label::after {
	content:':';
	white-space:"";
}

.field {
	font-style: italic;
}

.field::after {
	content:'\a';
	white-space: pre;
}

#item-list li {
	border: 2px solid rgba(45,181,241,1);
	border-radius: 3px;
	margin: 0.3em 0;
	padding: 0;
	list-style: none;
}

.item-list.filter {
	align-self: flex-end;
	display: inline-block;
	margin-left: 1.3em;
}

.item-list.filter label, input{
	display: inline-block;
}

.item-list.filter input {
	width: 100px;
}

.item-list.filter label {
	width: 30px;
}

#item-list li p.completed{
	background-color: #a8ecb4;
}

p.order {
	padding: 0.3em;
	margin: 0px;
}