.order-input-container {
	position: relative;
}

.place-order-button {
	position: absolute;
	right: 0px;
}

.order-input-title {
	font-size: 1.4em;
	padding: 10px;
}

.input-field {
	width: 236px !important;
	height: 50px !important;
}

.due-date-picker>:first-child {
	height:50px !important;
	width: 100% !important;
	top: 0px !important;
}

.due-date-picker>:first-child>input {
	margin-top: 14px !important;
}

.input-field>label{
	top: 28px !important;
}

.input-field.empty  label::after {
	content: "*";
	color: red;
}

.input-field:not(.due-date-picker)>div {
	top: 28px !important;
}

.due-date-picker>div>div {
	top: 28px !important;
}

/*Error message div*/
.input-field.empty:not(.due-date-picker)>div:last-of-type {
	bottom: 0px !important;
	right: 0px !important;
	top:0px !important;
	position: absolute !important;
	display: none !important;
}

.due-date-picker>div>div:last-of-type {
	bottom: 0px !important;
	right: 0px !important;
	top:0px !important;
	position: absolute !important;
	display: none !important;
}

.due-date-picker {
	height: 50px;
}

.due-date-picker>:first-child > label{
	top:28px !important;
}

.time-picker > input {
	margin-top: 14px !important;
}

.multiline-textfield>div:last-of-type{
	margin-bottom: 0px !important;
	bottom: 0px !important;
	top: 0px !important;
}

.multiline-textfield.not-empty>div:last-of-type>textarea:last-of-type {
	margin-top: 23px !important;
	margin-bottom: 0px !important;
}

.multiline-textfield.empty>div:nth-of-type(2)>textarea:last-of-type {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}