.order-list-container {
	overflow: auto;
}

.order-list {
	overflow: hidden;
}

.list-item-left-icon.accepted {
	fill:#FF5722 !important;
}

.list-item-left-icon.ready {
	fill:#4CAF50 !important;
}

.list-item-left-icon.shipped {
	fill:#2196F3 !important;
}

.order-item-opened .list-item-left-icon {
	top: 24px !important;
}

.order-list-toolbar {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.dateToolbar {
	display: inline-block;
	align-self: flex-end;
	min-width: 40%;
}

.button-bar {
	margin-top: 7px;
}

.from-date-picker {
	display: inline-block;
}

.to-date-picker {
	margin-left: 1em;
	display: inline-block;
	margin-right: 1em;
}

.list-item-mode-transition-enter {
  	opacity: 0.01;
  	max-height: 1px;
}

.list-item-mode-transition-enter.list-item-mode-transition-enter-active {
  	opacity: 1;
  	max-height: 75px;
  	transition: opacity 300ms ease-in, max-height 300ms ease-in;
}

.list-item-mode-transition-leave {
  	opacity: 1;
    max-height: 75px;
}

.list-item-mode-transition-leave.list-item-mode-transition-leave-active {
  	opacity: 0.01;
  	max-height: 1px;
  	transition: opacity 300ms ease-in, max-height 300ms ease-in;
}