.main-view {
	justify-content: center;
	position: relative;
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: stretch;
}

#main-content {
	flex: 1;
	display: flex;
}

#app-login-paper {
	display: flex;
	flex: 1;
	min-height: 200px;
}