.stack-container {
	display: block;
	height: 100%;
	flex: 1;
	position: relative;
}

.stack-container-transition-group {
	display: block;
	height: 100%;
}

.stackItem {
	flex: 1;
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
}

.stack-enter {
  	opacity: 0.01;
}

.stack-enter.stack-enter-active {
  	opacity: 1;
  	transition: opacity 500ms ease-in;
}

.stack-leave {
  	opacity: 1;
}

.stack-leave.stack-leave-active {
  	opacity: 0.01;
  	transition: opacity 300ms ease-in;
}