.order-info-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: auto !important;
}

.order-info {
	display: inline-block;
	height: 20px;
	margin-top: 4px;
	margin-bottom: 0px;
	flex-grow:1;
	width: 25%;
}

.order-info-value {
	font-size: 1.0em;
}

.order-info-label {
	font-weight:bold;
	margin-right: 10px;
	font-size: 1.0em;
}

.order-info-container>.order-info:last-child>.order-info-label {
	display: none;
}

/* .order-item-edit-mode-container{
	height: 10.7em !important;
	display: flex !important;
	flex-direction: row !important;
	margin-left: 7em !important;
} */